<app-header></app-header>
<div class="screen">
  <div class="active">
    <p>Daily active tickets</p>
    <div *ngIf="activeItems != null" class="active-items items">
      <app-item *ngFor="let item of activeItems" [item]="item"></app-item>
    </div>
  </div>
  <div class="paused">
    <p>Daily paused tickets</p>
    <div *ngIf="pausedItems != null" class="paused-items items">
      <app-item *ngFor="let item of pausedItems" [item]="item"></app-item>
    </div>
  </div>
  <div class="old">
    <p>Old tickets</p>
    <div *ngIf="oldItems != null" class="old-items items">
      <app-item *ngFor="let item of oldItems" [item]="item"></app-item>
    </div>
  </div>
</div>
